body{
  background-color: @background-body;
}

.btn{
  color: @white;
  font-size: 14px;
  font-weight: 600;
  background-color: @orange;
  border: 1px solid @orange;
  transition: .3s;
  display: block;
  width: 100%;
  &:hover{
    background-color: @white;
    color: @orange;
    border-color: @orange;
  }
}

.input-password{
  position: relative;
  .icon-see-password{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    svg{
      height: 24px;
      width: 24px;
    }
  }
}
