.sidebar{
  &-title-kit{
    padding: 15px;
    &-name{
      font-weight: 600;
      margin-top: 20px;
    }
    &-items{
      margin: 0 15px;
      display: flex;
      flex-direction: column;
      a {
        color: @black;
      }
    }
  }
}
