body {
  background-color: #DDDDDD;
}
.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #DE7910;
  border: 1px solid #DE7910;
  transition: 0.3s;
  display: block;
  width: 100%;
}
.btn:hover {
  background-color: #fff;
  color: #DE7910;
  border-color: #DE7910;
}
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login form {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 40%;
}
.login form label {
  font-size: 16px;
  color: #DE7910;
}
.login form input {
  font-size: 14px;
}
@media (max-width: 767px) {
  .login form {
    width: 100%;
  }
}
.main-page {
  margin-top: 100px;
}
.filtro .btn {
  max-width: fit-content;
  margin-left: auto;
  padding: 5px 20px;
}
.projects {
  font-size: 12px;
  text-align: center;
  margin: 70px 0;
}
.projects .project-link {
  color: #000;
}
.projects .project-link:hover {
  color: #DE7910;
}
.projects .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  align-items: center;
}
@media (max-width: 767px) {
  .projects .row {
    overflow: auto;
    flex-wrap: nowrap;
  }
}
.projects .row:nth-child(odd) {
  background-color: #fefefe;
}
.projects .row > div {
  padding: 10px 5px;
}
@media (max-width: 767px) {
  .projects .row > div.mobile-none {
    display: none;
  }
}
